---
layout: default
---
<title>{{ site.title }} &larr; {{ page.top }}</title>
<div id="home" class="page-content wc-container">
	<div class="posts">
		{% for post in site.posts limit:5 %}
		<div id="page">
			<h3 class="post-title">
				<a href="{{ post.url }}">{{ post.title }}</a>
				</a>
			</h3>

			<p class="post-meta">
			{% if (post.categories.size > 0 %}
			<span class="categories">
				{{ post.categories | array_to_sentence_string }}
			</span> |
			{% endif %}
			<span class="post-date">
				{{ post.date | date: "%b %-d, %Y" }} 
			</span>
			</p>          

			<p>
			{{ post.excerpt }}
			</p>
			<p>
				<a href="{{ post.url }}">Read More</a>
			</a>
			</p>
		</div>
		<div class="separator"></div>
		<!-- End Page -->
		{% endfor %}
	</div>
	<div class="separator"></div>
	<div class="archive-link">
		<center><a href="/archive.html">— Blog Archives —</a></center>
	</div>
	<div class="separator"></div>
</div>

